
.product-list-section {
    margin-top: 56px;
}

.pageNavigation-outer {

    width: 100%;
    height: 100px;
    display: grid;

    .pageNavigation-inner {
        margin: auto;

        .page-numbers {
            font: var(--unnamed-font-style-normal) normal var(--unnamed-font-weight-normal) var(--unnamed-font-size-16)/var(--unnamed-line-spacing-24) var(--unnamed-font-family-muli);
            letter-spacing: var(--unnamed-character-spacing-0);
            color: var(--unnamed-color-172026);
            text-align: center;
            margin: 10px;
            cursor: pointer;

            .page-numbers-underline{
                text-decoration: underline;
            }

        }
    }

}

//mobile and tablet view
@media all and (min-width:320px) and (max-width : 768px) {

    .product-listing-tiles,
    .product-listing-breadcrumb {
        margin: 2% 10%;
    }

    .desk-product-listing-sidebar {
        display: none;
    }

    .mob-product-listing-sidebar {
        display: contents;
    }
}

//Desktop view
@media all and (min-width:769px) {
    .product-list-section {
        width: 100%;
        height: auto;
        
    }


    .main-product-listing {
        padding: 0 10%;
        width: 100%;
        height: auto;
        display: grid;
        grid-template-columns: 30% 70%;
        grid-template-rows: 65px auto;
        gap: 0;

    }

    .product-listing-breadcrumb {
        grid-column: 1/2;
        grid-row: 1/2;
    }

    .desk-product-listing-sidebar {
        grid-column: 1/2;
        grid-row: 2/3;
    }

    .mob-product-listing-sidebar {
        display: none;
    }

    .product-listing-tiles {
        grid-column: 2/3;
        grid-row: 1/3;
    }
}