@mixin mobMainProQty {
  width: 100%;
  height: auto;
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: auto;
  gap: 0.5em;
}

@mixin mobTitleProQty {
  font: var(--unnamed-font-style-normal) normal var(--unnamed-font-weight-600)
    var(--unnamed-font-size-16) / var(--unnamed-line-spacing-20)
    var(--unnamed-font-family-muli);
  letter-spacing: var(--unnamed-character-spacing-0);
  color: var(--unnamed-color-172026);
  text-align: left;
  opacity: 1;
}

@mixin mobQtyProQty {
  width: 100%;
  display: flex;
}

@mixin mobRemoveProQty {
  padding: 5px 10px 0px 0px;
  cursor: pointer;
}

@mixin mobInput {
  height: 30px;
  background: var(--white) 0% 0% no-repeat padding-box;
  border: 2px solid var(--gray-m1);
  border-radius: 8px;
  opacity: 1;
  font: var(--unnamed-font-style-normal) normal var(--unnamed-font-weight-600)
    var(--unnamed-font-size-16) / var(--unnamed-line-spacing-20)
    var(--unnamed-font-family-muli);
  color: var(--unnamed-color-172026);
  text-align: center;
  letter-spacing: 0.32px;
}

@mixin mobAddProQty {
  padding: 5px 0px 0px 10px;
  cursor: pointer;
}

@mixin mobAddCartProQty {
  width: 100%;
  height: 70px;
  display: flex;
  padding: 15px 0;
}

@mixin mobButton {
  height: 45px;
  width: 275px;
  padding: 0 5%;
  background: var(--unnamed-color-e26a2c) 0% 0% no-repeat padding-box;
  border: 2px solid #d4703d;
  box-shadow: 0px 3px 6px rgb(57 55 55 / 16%);
  font: var(--unnamed-font-style-normal) normal var(--unnamed-font-weight-bold)
    var(--unnamed-font-size-14) / 16px var(--unnamed-font-family-muli);
  letter-spacing: var(--unnamed-character-spacing-0);
  color: var(--white);
  text-align: center;
  text-transform: uppercase;
  opacity: 1;
  cursor: pointer;
  transition: all 1s;
}

@mixin mobSaveShareProQty {
//   width: 100%;
  display: flex;
  padding: 0 10px 15px;
}

@mixin mobTextSaveShareProQty {
  font: var(--unnamed-font-style-normal) normal var(--unnamed-font-weight-600)
    var(--unnamed-font-size-16) / var(--unnamed-line-spacing-20)
    var(--unnamed-font-family-muli);
  color: var(--unnamed-color-172026);
  text-align: left;
  letter-spacing: 0.32px;
  color: #172026;
  opacity: 1;
  padding-left: 10px;
}

@mixin mobSaveShareParam($pos) {
  justify-content: $pos;
}

.main-product-quantity {
  @include mobMainProQty;

  .title-product-quantity {
    @include mobTitleProQty;
  }

  .qua-product-quantity {
    @include mobQtyProQty;

    .remove-product-quantity {
      @include mobRemoveProQty;
    }

    .input-product-quantity {
      input[type="number"]::-webkit-inner-spin-button,
      input[type="number"]::-webkit-outer-spin-button {
        -webkit-appearance: none;
        margin: 0;
      }

      input {
        @include mobInput;
      }
    }

    .add-product-quantity {
      @include mobAddProQty;
    }
  }

  .add-cart-product-quantity {
    @include mobAddCartProQty;

    button {
      @include mobButton;
    }

    button:hover {
      color: var(--unnamed-color-e26a2c);
      background: var(--white) 0% 0% no-repeat padding-box;
    }
  }

  .save-share-product-quantity,
  .save-product-quantity,
  .share-product-quantity {
    @include mobSaveShareProQty;

    .text-save-product-quantity,
    .text-share-product-quantity {
      @include mobTextSaveShareProQty;
    }
  }

  .save-product-quantity {
    @include mobSaveShareParam(right);
  }

  .share-product-quantity {
    @include mobSaveShareParam(left);
  }
}

.svg-save-product-quantity,
.svg-share-product-quantity {
  cursor: pointer;
}

@media all and (min-width: 320px) and (max-width: 768px) {
  .qua-product-quantity,
  .add-cart-product-quantity {
    justify-content: center;
  }
  .save-share-product-quantity {
    margin: auto;
  }
}

@media all and (min-width: 769px) {
  .save-share-product-quantity {
    width: 85%;
    margin: auto;
  }
}
