.a-tag {
  text-decoration: none;
}

//mobile and tablet view
@media all and (min-width: 320px) and (max-width: 768px) {
  .main-crumb {
    font: var(--unnamed-font-style-normal) normal
      var(--unnamed-font-weight-normal) var(--unnamed-font-size-16) /
      var(--unnamed-line-spacing-24) var(--unnamed-font-family-muli);
    letter-spacing: var(--unnamed-character-spacing-0);
    text-align: left;
    opacity: 1;
  }
}

//Desktop view
@media all and (min-width: 769px) {
  .main-crumb {
    font: var(--unnamed-font-style-normal) normal
      var(--unnamed-font-weight-normal) var(--unnamed-font-size-16) /
      var(--unnamed-line-spacing-24) var(--unnamed-font-family-muli);
    letter-spacing: var(--unnamed-character-spacing-0);
    text-align: left;
    opacity: 1;
  }
}
