@mixin notFoundComman {
    font: var(--unnamed-font-style-normal) normal var(--unnamed-font-weight-600) var(--unnamed-font-size-24)/var(--unnamed-line-spacing-30) var(--unnamed-font-family-muli);
    letter-spacing: var(--unnamed-character-spacing-0);
    text-align: center;
    position: absolute;
    transform: translate(-50%, -50%);
}

@mixin deskNotFoundImage {
    width: 100%;
    background-image: url("../../../assets/not-found.jpg");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    position: absolute;
    top: 0;
}

@mixin deskNotFoundStatusCode {
    color: var(--unnamed-color-172026);
    left: 50%;
    margin: 0;
    font-size: 10em;
    opacity: 0.7;
}

@mixin deskNotFoundText {
    color: var(--unnamed-color-172026);
    left: 50%;
    margin: 0;
    opacity: 0.7;
}

@mixin deskNotFoundReturnButton {
    color: white;
    left: 50%;
    margin: 0;
    font-size: 1em;
    opacity: 1;
    background-color: blue;
    border: 1px dashed red;
    border-radius: 15px;
    cursor: pointer;
}

//mobile and tablet view
@media all and (min-width:320px) and (max-width : 768px) {

    .not-found-image {
        @include deskNotFoundImage;
        height: 300%;
    }

    .not-found-status-code {
        @include notFoundComman;
        @include deskNotFoundStatusCode;
        top: 10%
    }

    .not-found-text {
        @include notFoundComman;
        @include deskNotFoundText;
        top: 20%;
        font-size: 2em;
    }

    .return-button {
        @include notFoundComman;
        @include deskNotFoundReturnButton;
        top: 30%
    }

}


//Desktop view
@media all and (min-width:769px) {
    .not-found-image {
        @include deskNotFoundImage;
        height: 100%;
    }

    .not-found-status-code {
        @include notFoundComman;
        @include deskNotFoundStatusCode;
        top: 50%;
    }

    .not-found-text {
        @include notFoundComman;
        @include deskNotFoundText;
        top: 70%;
        font-size: 3em;
    }

    .return-button {
        @include notFoundComman;
        @include deskNotFoundReturnButton;
        top: 85%;

    }
}