@mixin MobHrFooter($border) {
    width: 100%;
    border: $border;
    opacity: 1;
}

//mobile and tablet view
@media all and (min-width:320px) and (max-width : 768px) {

    .hr-footer-one {
        @include MobHrFooter(2px solid var(--gray-l1));
    }

    .hr-footer-two {
        @include MobHrFooter(1px solid var(--gray-l1));
    }

    .main-footer {
        width: 100%;
        height: auto;
        display: grid;
        gap: 1em;
    }

}

//Desktop view
@media all and (min-width:769px) {

    .main-footer {
        width: 100%;
        height: auto;
        padding: 2% 10%;
        display: grid;
        grid-template-columns: 24% 24% 23% 24%;
        grid-template-rows: auto;
        gap: 1em;
    }

    .hr-footer-one {
        @include MobHrFooter(2px solid var(--gray-l1));
    }

    .hr-footer-two {
        grid-column: 1/5;
        grid-row: 2/3;
        @include MobHrFooter(1px solid var(--gray-l1));
    }

    .footer-logo {
        grid-column: 1/2;
        grid-row: 3/4;
    }

    .footer-company {
        grid-column: 2/4;
        grid-row: 3/4;
    }

    .footer-terms{
        grid-column: 4/5;
        grid-row: 3/4;
        align-self: center;
    }
}